<header>
<span style="float:right;">
  <img src="/images/rosie-circle-200.png" alt="Rosie the Riveter icon" width=80>
</span>
<h1>{{ .Site.Title }}</h1>
<!-- 
<span class="version" style="float:right;">Version {{ .Site.Params.version }}</span>
-->
{{ with .Site.Params.description }}
<p class="description">{{ . }}</p>
{{end}}
</header>
