{{- define "main" -}}
<h1>{{ .Title }}</h1>
{{ if ne ( .Lastmod.Format "2006-01-02" ) "0001-01-01" }}
<div style="font-weight: lighter; font-size: medium">
Last updated on {{ .Lastmod.Format ( $.Site.Params.dateformat | default "2 Jan 2006") }}
</div>
{{ end }}
{{- .Content -}}
{{- end -}}
