<article>
<!-- <div style="font-weight: lighter; font-size: medium"> -->
<a href="{{ .Permalink }}">{{ .Title }}</a> 
<small><em>({{ .Lastmod.Format ( $.Site.Params.dateformat | default "2 Jan 2006") }})</em></small>
<!-- </div> -->
<!-- <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time> -->
<!-- {{ .Summary }} -->
</article>
