@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  /* stylelint-disable */
  font-family: monospace, monospace; /* 1 */
  /* stylelint-enable */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  /* stylelint-disable */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
  /* stylelint-enable */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  /* stylelint-disable */
  font-family: monospace, monospace; /* 1 */
  /* stylelint-enable */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*-----------------------*
		Reset
*-----------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}

/*-----------------------*
		Element v1.0.0-custom
*-----------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 18px;
  line-height: 1.6666666667;
  color: #000;
  font-family: var(--custom-font-family-base, -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "メイリオ", Meiryo, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  -webkit-font-feature-settings: "pwid";
          font-feature-settings: "pwid";
}

body {
  background-color: #fafafa;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--custom-font-family-headings, -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "メイリオ", Meiryo, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  font-weight: bold;
  line-height: 1.6666666667;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  font-size: 75%;
  font-weight: normal;
}

h1 {
  font-size: 240%;
  line-height: 1.3125;
}

h2 {
  font-size: 200%;
  line-height: 1.375;
}

h3 {
  font-size: 160%;
  line-height: 1.46875;
}

h4 {
  font-size: 125%;
  line-height: 1.6;
}

h5 {
  font-size: 100%;
  line-height: 1.75;
}

h6 {
  font-size: 80%;
  line-height: 1.9375;
}

a {
/*   color: var(--custom-link-text-color, #2e7eb3); */
  color: var(--custom-link-text-color, #000); 
  text-decoration: none;
}
a:focus, a:active, a:hover {
/*   color: var(--custom-link-text-hover-color, #38a0e4); */
  color: var(--custom-link-text-hover-color, #787fef);
  text-decoration: underline;
}

hr {
  background-color: #ccc;
  height: 2px;
  border: 0;
}

p {
  font-size: 18px;
}

img {
  display: inline-block;
  line-height: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border: 1px solid #f0f0f0;
  width: 100%;
}

th,
td {
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: 0.6rem;
}
tr:nth-child(even) th,
tr:nth-child(even) td {
  background: #f8f8f8;
}

th {
  background: #eee;
  font-weight: bold;
  text-align: left;
}

ul {
  list-style-type: disc;
}

ul.no-style {
  list-style: none;
  padding-left: 0;
}
ul.inline {
  list-style: none;
  padding-left: 0;
}
ul.inline li {
  display: inline;
  padding-right: 2rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2rem;
}

blockquote {
  color: #999;
  padding: 1.6666666667rem;
  background-color: #f4f4f4;
  border-left: 4px solid #f0f0f0;
  border-radius: 0.2rem;
}

code,
pre,
kbd {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code,
kbd {
  padding: 0.2rem;
  border-radius: 0.2rem;
}

code {
  background-color: #f4f4f4;
}

kbd {
  color: #fff;
  background-color: #333;
}

pre {
  background-color: #f4f4f4;
  padding: 1.6666666667rem;
  overflow: auto;
  white-space: pre-wrap;
  border-radius: 0.2rem;
}
pre code {
  padding: 0;
  background-color: unset;
}
pre.wrap {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre.scrollable {
  max-height: 240px;
  overflow-y: scroll;
}

figcaption {
  color: #333;
  font-size: 18px;
  line-height: 1.6666666667;
}

/*-----------------------*
		stack
*-----------------------*/
:root {
  --const-stack: 1.6666666667rem;
  --stack-top: 1.6666666667rem;
  --stack-bottom: 0;
  --first-stack-top: 0;
  --first-stack-bottom: 0;
  --last-stack-top: 0;
  --last-stack-bottom: 0;
}

.first-stack,
main * {
  margin-top: var(--first-stack-top, unset);
  margin-bottom: var(--first-stack-bottom, unset);
}

.stack,
main * + h1,
main * + h2,
main * + h3,
main * + h4,
main * + h5,
main * + h6,
main * + p,
main * + hr,
main * + table,
main * + ul,
main * + ol,
main * + dl,
main * + blockquote,
main * + pre,
main * + figure,
.table_of_contents,
.edit-meta,
.edit-page,
.pagination,
.highlight,
.powered,
.panel,
.button,
.gist,
.twitter-tweet,
.ais-Hits-item,
.code {
  margin-top: var(--stack-top, unset);
  margin-bottom: var(--stack-bottom, unset);
}

.last-stack {
  margin-top: var(--last-stack-top, unset);
  margin-bottom: var(--last-stack-bottom, unset);
}

.stack-multi--by2 {
  margin-top: calc(var(--first-stack-top, unset) * 2);
  margin-bottom: calc(var(--first-stack-bottom, unset) * 2);
}

.stack-multi--by4 {
  margin-top: calc(var(--first-stack-top, unset) * 4);
  margin-bottom: calc(var(--first-stack-bottom, unset) * 4);
}

.stack-divi--by2 {
  margin-top: calc(var(--first-stack-top, unset) / 2);
  margin-bottom: calc(var(--first-stack-bottom, unset) / 2);
}

.none-stack,
figure > figcaption,
.pagination > *,
.code .code-content .highlight {
  margin-top: 0;
}

.unset-stack,
main li > ul,
main li > ol,
.ais-Hits-item p {
  margin-top: unset;
}

/*-----------------------*
		Structure
*-----------------------*/
html,
body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: auto;
}

.content-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}
main:only-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 480px) {
  .content-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    min-width: 100%;
  }
  .sidebar {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.pagination {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
}
.nav-next {
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .pagination {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-next {
    margin-left: 0;
  }
}
.panel {
  --panel-font-color: #000;
  --panel-background-color: unset;
  --panel-border-color: transparent;
  padding: 1.6666666667rem;
  color: var(--panel-font-color, #000);
  background: var(--panel-background-color, unset);
  border: 1px solid;
  border-color: var(--panel-border-color, transparent);
}
.panel a {
  text-decoration: underline;
  font-weight: bold;
}

.panel-primary {
  --panel-border-color: #f0f0f0;
}

.panel-notice {
  --panel-font-color: #fff;
  --panel-background-color: #4ba0e1;
  --custom-link-text-color: #fff;
  --custom-link-text-hover-color: #fff;
}

.panel-success {
  --panel-font-color: #fff;
  --panel-background-color: #609f43;
  --custom-link-text-color: #fff;
  --custom-link-text-hover-color: #fff;
}

.panel-caution {
  --panel-font-color: #fff;
  --panel-background-color: #de776d;
  --custom-link-text-color: #fff;
  --custom-link-text-hover-color: #fff;
}

.panel-warning {
  --panel-font-color: #fff;
  --panel-background-color: #e67e22;
  --custom-link-text-color: #fff;
  --custom-link-text-hover-color: #fff;
}

.panel-danger {
  --panel-font-color: #fff;
  --panel-background-color: #ce3426;
  --custom-link-text-color: #fff;
  --custom-link-text-hover-color: #fff;
}

.button {
  display: inline-block;
  font-size: 120%;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.8rem;
  --button-font-color: #000;
  --button-font-hover-color: #000;
  --button-background-color: #fafafa;
  --button-background-hover-color: #f7f7f7;
  --button-border-color: #f0f0f0;
  color: var(--button-font-color, #000);
  background: var(--button-background-color, unset);
  border: 2px solid;
  border-color: var(--button-border-color, transparent);
}
.button:hover {
  color: var(--button-font-hover-color, #000);
  text-decoration: none;
  background: var(--button-background-hover-color, unset);
}

.button-notice {
  --button-font-color: #fff;
  --button-font-hover-color: #fff;
  --button-background-color: #4ba0e1;
  --button-background-hover-color: #3b89c5;
  --button-border-color: transparent;
}

.button-success {
  --button-font-color: #fff;
  --button-font-hover-color: #fff;
  --button-background-color: #369b08;
  --button-background-hover-color: #256905;
  --button-border-color: transparent;
}

.button-caution {
  --button-font-color: #fff;
  --button-font-hover-color: #fff;
  --button-background-color: #f56558;
  --button-background-hover-color: #d45145;
  --button-border-color: transparent;
}

.button-warning {
  --button-font-color: #fff;
  --button-font-hover-color: #fff;
  --button-background-color: #f5811b;
  --button-background-hover-color: #db7012;
  --button-border-color: transparent;
}

.button-danger {
  --button-font-color: #fff;
  --button-font-hover-color: #fff;
  --button-background-color: #ce3426;
  --button-background-hover-color: #a0281d;
  --button-border-color: transparent;
}

.notification {
  padding: 0.2rem 1.6666666667rem;
  text-align: center;
  background: #eee;
}

.backtothetop {
  display: none;
  font-size: 200%;
}

.fa-layers .fa-circle {
  color: #fff;
}

figure > figcaption h4 {
  font-size: 80%;
  font-weight: normal;
}

.table_of_contents {
  font-size: 90%;
  padding: 1.6666666667rem;
  border: 4px solid #f0f0f0;
}
.table_of_contents ul {
  list-style: none;
  padding-left: 0;
}
.table_of_contents li {
  border-top: 1px solid #f0f0f0;
}
.table_of_contents > nav > ul > li:first-child {
  border-top: unset;
}
.table_of_contents ul > li li a {
  margin-left: 2rem;
}
.table_of_contents ul ul > li li a {
  margin-left: 4rem;
}
.table_of_contents ul ul ul > li li a {
  margin-left: 6rem;
}
.table_of_contents ul ul ul ul > li li a {
  margin-left: 8rem;
}
.table_of_contents ul ul ul ul ul > li li a {
  margin-left: 10rem;
}

.headerlink > .svg-inline--fa {
  margin-left: 0.4rem;
  width: 0.8rem;
}

.ais-SearchBox .ais-SearchBox-input {
  width: 70%;
}
.ais-SearchBox button {
  margin-left: 0.2rem;
  padding: 0.4rem;
}

.ais-Stats {
  font-size: 80%;
  color: #70757a;
}

.ais-Hits-item h3 {
  font-size: 140%;
  font-weight: normal;
}
.ais-Hits-item p {
  color: #3C4043;
}
.ais-Hits-item .lastmod {
  font-size: 90%;
  color: #70757a;
}

.ais-Pagination {
  margin-top: 1em;
}

.ais-Pagination-list {
  list-style: none;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ais-Pagination-item {
  padding: 0.6rem;
}

.code {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.code .filename {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
  font-size: 80%;
  color: #666;
}
.code .copy-btn {
  margin-left: auto;
  cursor: pointer;
  position: relative;
  font-size: 80%;
  border: solid 1px #ccc;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  line-height: 1;
  margin-bottom: 0.2rem;
  outline: none;
}
.code .code-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}
.tooltipped::after {
  content: "Copied!";
  background: #555;
  display: inline-block;
  color: #fff;
  border-radius: 0.4rem;
  position: absolute;
  left: 50%;
  top: -1.8rem;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 0.75rem;
  padding: 4px 10px 6px 10px;
  -webkit-animation: fade-tooltip 0.5s 1s 1 forwards;
          animation: fade-tooltip 0.5s 1s 1 forwards;
}

@-webkit-keyframes fade-tooltip {
  to {
    opacity: 0;
  }
}

@keyframes fade-tooltip {
  to {
    opacity: 0;
  }
}
header {
  color: var(--custom-font-color, #fff);
  background: var(--custom-background-color, #000);
  padding: 0.5rem 1.6666666667rem;
}
header h1 {
  font-size: 140%;
  display: inline-block;
}
header .version {
  margin-left: 0.4rem;
  font-size: 60%;
  color: #000;
}
header .gitlab {
  color: #000;
  margin-left: 0.4rem;
  font-size: 180%;
}

.global-menu {
  color: var(--custom-font-color, #fff);
  background: var(--custom-background-color, #000);
  padding: 0.2rem 1.6666666667rem;
}
.global-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.global-menu li {
  display: inline-block;
  margin-right: 1.8rem;
  position: relative;
}
.global-menu ul.sub-menu {
  display: none;
  margin: 0;
  position: absolute;
  top: 1.8rem;
  left: 0;
  z-index: 99999;
}
.global-menu ul.sub-menu li {
  padding: 0.2rem 1.6666666667rem;
  background: var(--custom-background-color, #000);
  width: 140px;
  font-size: 80%;
}
.global-menu ul.sub-menu li a {
  color: var(--custom-font-color, #fff);
}
.global-menu .fa-angle-right {
  margin-left: 0.4rem;
  font-size: 80%;
}
.global-menu li.parent:hover > ul.sub-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
@media screen and (max-width: 480px) {
  .global-menu li {
    display: block;
    margin-right: 0;
    border-bottom: 1px solid currentColor;
  }
  .global-menu li:last-child {
    border-bottom: none;
  }
  .global-menu .fa-angle-right {
    display: none;
  }
  .global-menu ul.sub-menu {
    display: block;
    position: static;
  }
  .global-menu ul.sub-menu li {
    width: auto;
    background: transparent;
    padding: 0 0.4rem;
  }
  .global-menu ul.sub-menu li + li {
    padding-top: 0.2rem;
  }
  .global-menu ul.sub-menu li a {
    color: currentColor;
  }
}
.global-menu a {
  display: block;
  color: currentColor;
  text-decoration: none;
}
.global-menu a:hover {
  text-decoration: underline;
}

main {
  padding: 3rem;
}

@media screen and (max-width: 480px) {
  main {
    padding: 1rem;
  }
}
.sidebar {
  font-size: 90%;
  line-height: 1.8;
  background: #f9f9f9;
  border-right: 1px solid #eee;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar a {
  position: relative;
  display: block;
  color: #404040;
  text-decoration: none;
  padding: 0.2rem 1rem;
  border-left: solid 4px #f9f9f9;
  border-bottom: solid 1px #eee;
}
.sidebar a:hover {
  color: #404040;
  background: #eee;
  border-left: solid 4px #ccc;
}
.sidebar nav > ul > li li a {
  padding-left: 2rem;
}
.sidebar nav > ul ul > li li a {
  padding-left: 3rem;
}
.sidebar nav > ul ul ul > li li a {
  padding-left: 4rem;
}
.sidebar nav > ul ul ul ul > li li a {
  padding-left: 5rem;
}
.sidebar nav > ul ul ul ul ul > li li a {
  padding-left: 6rem;
}
@media screen and (max-width: 480px) {
  .sidebar nav > ul > li:first-child a {
    border-top: solid 1px #eee;
  }
}
.sidebar .active > a {
  background: #eee;
  border-left: solid 4px #ccc;
}
.sidebar .slide-menu .has-sub-menu:not(.parent) ul {
  display: none;
}
.sidebar .slide-menu .has-sub-menu > a span.mark {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 2;
  text-align: center;
  color: #979797;
  background: #f2f2f2;
  border-left: 1px solid #e7e7e7;
}

.sidebar-footer {
  padding: 1.6666666667rem;
}

.edit-meta {
  font-size: 80%;
  text-align: right;
}

.edit-page {
  font-weight: bold;
}

.powered {
  font-size: 80%;
  text-align: right;
  color: #999;
}
